
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.top_left {
    list-style: none;
}

.top_left li {
    display: inline-block;
    padding: 0px 20px;
}

.top_right {
   list-style: none;
}

.top_right li {
    display: inline-block;
    padding: 0px 20px;
}

#title {
    text-align: center;
    font-size: 100px;
    margin-top: 200px;
    margin-bottom: auto;
    padding-bottom: 40px;
}

.search-bar {
    text-align: left;
    font-size: 30px;
    font-style: impact;
    padding: 10px;
    border-radius: 60px;
    border-color: gainsboro; 
    border-style: solid; 
}

#searchbar {
    text-align: center;
}

a:link {
    text-decoration: none;

}

.image1 {
    height: 30px;
    width: 30px;
    color: gray;
}

.image2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button1 {
    text-align: center;
    display: inline-block;
    padding: 15px 32px;
    border: 0px;
    outline: 0px solid transparent;
    background-color: rgb(241, 241, 241);
    font-size: 14px;
    text-decoration: none;
    
}


.button2 {
    text-align: center;
    display: inline-block;
    padding: 15px 32px;
    border: none;
    background-color: rgb(241, 241, 241);
    font-size: 14px;
    text-decoration: none;
}

footer {
    display: flex;
    align-items: center;
    padding: 30px 10%;
    background-color: rgb(240, 239, 239);
    height: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: space-between;

}
.bottom_left {
    list-style: none;
}

.bottom_left li {
    display: inline-block;
    padding: 0px 20px;
    align-content: left;
}

.bottom_right {
   list-style: none;
}

.bottom_right li {
    display: inline-block;
    padding: 0px 20px;
}

.bottom_center {
    list-style: none;
 }
 
 .bottom_center li {
     display: inline-block;
     padding: 0px 20px;
 }